/* *{
  border: 1px solid red;
} */

* {
  user-select: none;
}

html {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-0.125turn, rgb(180, 91, 85), #F29892);
  background-attachment: fixed;
}

body {
  margin: 0px;
  padding: 0px;
}

img {
  pointer-events: none;
}

@media screen and (max-width: 1045px) {
  .content {
    margin-top: 50px !important
  }
  .topright {
    display: none;
  }
  .bottomright {
    display: none;
  }
  .updates {
    width: calc(32.3vw + 20px) !important;
  }
  input::placeholder {
    font-size: 1.689vw !important;
  }
}

@font-face {
  font-family: "InterBold";
  src: url("assets/fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: "InterSemiBold";
  src: url("assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Campground";
  src: url("assets/fonts/CampgroundFreeDemo-regular.otf") format("opentype");
}

.topright {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 37.783vh; /* 300px / 794px */
  z-index: -100;
}

.bottomright {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 37.783vh; /* 300px / 794px */
  z-index: -100;
}

.bottomleft {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 69.972vh; /* 500px / 794px */
  z-index: -100;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70vh;
  width: 90vw;
  max-width: 1200px;
  margin: 100px auto;
}

@media screen and (max-width: 600px) {
  .content {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }
  .text {
    width: 80% !important;
    margin-left: 0 !important;
  }
  .date {
    font-size: 5.185vw !important;
    margin-bottom: 6vw !important;
  }
  .art {
    font-size: 10vw !important;
    text-align: center !important;
  }
  .updates {
    width: 100% !important;
  }
  input::placeholder {
    font-size: 15.88px !important;
  }
  .bottomleft {
    display: none;
  }
}

.stack-wrapper {
  margin: auto;
  width: 40%;
}

.stack {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 55%;
  padding-right: 0;
  margin-left: 5%;
}

.art {
  color: #FFFFFF;
  font-size: 8.816vh; /* 70px / 794px */
  font-family: Campground;
  text-align: right;
  min-width: 100%;
}

.date {
  color: #3148A1;
  font-size: 4.5vh;
  font-family: InterBold;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.updates {
  border-width: 4px;
  border-radius: 30px;
  border-color: #3148A1;
  border-style: solid;
  width: 343.66px;
  min-width: 150px;
  line-height: 40px;
  background-color: rgb(230, 230, 230);
  padding: 2px 30px 1px 10px;
}

.updates:focus {
  outline: 0;
  background-color: rgb(240, 240, 240);
}

input::placeholder {
  color: rgb(100, 116, 184);
  font-size: 15.88px;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 100%;
}

.submit {
  height: 20px;
  margin-left: -30px;
  margin-top: 14px;
}